<div class="c-encabezado">
  <div class="c-encabezado-inner">
    <div class="c-encabezado-body">
      <div class="row">
        <div class="col-md-12 text-center">
          <label>Titular</label>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-4">
          <label>Nombres:</label>
        </div>
        <div class="col-md-4">
          <label>Apellidos:</label>
        </div>
        <div class="col-md-4">
          <label>Telefono:</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Juan</span>
        </div>
        <div class="col-md-4">
          <span>Angel Perez</span>
        </div>
        <div class="col-md-4">
          <span> 55667789990</span>
        </div>
      </div>
 
      <div class="row">
        <div class="col-md-4">
          <label>No. Cliente:</label>
        </div>
        <div class="col-md-4">
          <label>Nacionalidad:</label>
        </div>
        <div class="col-md-4">
          <label>Edad:</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>132312313</span>
        </div>
        <div class="col-md-4">
          <span>Mexicana</span>
        </div>
        <div class="col-md-4">
          <span>34 años</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <label>Genero:</label>
        </div>
        <div class="col-md-4">
          <label>Peso:</label>
        </div>
        <div class="col-md-4">
          <label>Estatura:</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <span>Masculino</span>
        </div>
        <div class="col-md-4">
          <span>66kg</span>
        </div>
        <div class="col-md-4">
          <span>1.65m</span>
        </div>
      </div>

    </div>
  </div>
 
</div>