<app-share-breadcrumb [breadcrumbs]="breadcrumbs"></app-share-breadcrumb>
<mat-card class="mb-25 teggium-card" *ngIf="folio">
  <mat-card-header>
    <div class="teggium-titulo-encabezado">
      <h5 class="teggium-titulo">
        Firma ejecutivo<span *ngIf="readonlyModule" class="title-readonlyModule">Modo consulta</span>
      </h5>
      <app-kyc-encabezado [folio]="folio!.folio"></app-kyc-encabezado>
      <app-kyc-flujo-consulta *ngIf="readonlyModule" [flujoConsulta]="folio.flujoConsulta">
      </app-kyc-flujo-consulta>
    </div>
  </mat-card-header>
  <mat-card-content>
    <form #formArchivo="ngForm" (ngSubmit)="saveData(formArchivo)">
      <mat-tab-group>
        <mat-tab label="FIRMA EJECUTIVO">
          <div class="mt-4"></div>
          <mat-table *ngIf="documentosValidacion.length > 0" [dataSource]="documentosValidacion">
            <ng-container matColumnDef="documento">
              <mat-header-cell *matHeaderCellDef>Documento</mat-header-cell>
              <mat-cell *matCellDef="let element" [ngClass]="{
                  'border-active': element?.correcto,
                  'border-normal': !element?.correcto
                }">
                {{ element.documento }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="url">
              <mat-header-cell *matHeaderCellDef> Archivo</mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index">
                <button type="button" class="btn" (click)="filevalidacionFormatos(element.id)">
                  <mat-icon>visibility</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="correcto">
              <mat-header-cell *matHeaderCellDef>¿Correcto?</mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index">
                <mat-slide-toggle [disabled]="readonlyModule" [(ngModel)]="element.correcto"
                  (change)="changeCorrecto(index, $event)" color="primary" ngModel
                  name="Check{{ index }}{{ element.id }}">
                  {{ element.correcto ? "Sí" : "No" }}</mat-slide-toggle>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="idMotivo">
              <mat-header-cell *matHeaderCellDef>
                Motivo rechazo
              </mat-header-cell>
              <mat-cell contenteditable="false" *matCellDef="let element; let index = index">
                <mat-form-field appearance="outline">
                  <mat-label>Motivo rechazo</mat-label>
                  <mat-select placeholder="Motivo Rechazo" name="motivo{{ index }}" [(ngModel)]="element.idMotivo"
                    [required]="element.correcto ? '' : 'null'" [disabled]="element.correcto || readonlyModule">
                    <mat-option *ngFor="let option of motivos" (onSelectionChange)="onChangeMotivo(index, option.clave)"
                      [value]="element.correcto ? null : option.clave">
                      {{ option.descripcion }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="firmado">
              <mat-header-cell *matHeaderCellDef>Firmado</mat-header-cell>
              <mat-cell *matCellDef="let element; let index = index">
                <button *ngIf="documentosClasificacion.length > 0 && element.correcto" class="btn">
                  <mat-icon>done</mat-icon>
                </button>
                <button *ngIf="!element.correcto" class="btn">
                  <mat-icon>history</mat-icon>
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
          <div class="mt-4"></div>
          <div>
            <div class="row">
              <div class="col-md-12 text-center text-md-start">
                <button type="button" (click)="downloadZip()" class="btn btn-primary" *ngIf="!readonlyModule">
                  Descarga de documentos autorizados y FIC
                </button>
              </div>
              <div class="mt-4"></div>
              <div *ngIf="folio.estatusActividad == 3" >
                <div class="mt-4"></div>
                <div class="mt-4"></div>
                <div class="row">
                  <h5>
                    Comentario de reproceso de validación de firmas
                  </h5>
                </div>
                <div class="row">
                  <div class="col-md-12 text-center text-md-start">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label></mat-label>
                    <textarea [disabled]="true" matInput style="color: #000"
                      name="comentariosReproceso" ngModel={{this.comment}}></textarea>
                    <mat-icon matPrefix>comment</mat-icon>
                  </mat-form-field>
                </div>
                </div>
              </div>
            </div>
            <div class="mt-4"></div>
          </div>
        </mat-tab>
        <mat-tab label="CLASIFICACION">
          <br />
          <div>
            <div class="mt-4">
              <h5 class="text-end">Clasificación</h5>
            </div>
            <div *ngIf="!readonlyModule" class="d-flex justify-content-between text-start">
              <div class="w-100">
                <h6 class="fw-bold">
                  <mat-icon>info</mat-icon> Te recordamos que la firma de los
                  documentos debe ser autógrafa.
                </h6>
              </div>
            </div>
            <mat-table *ngIf="documentosClasificacion.length > 0" [dataSource]="documentosClasificacion">
              <mat-header-row *matHeaderRowDef="displayedColumnsFIC" class="table-header"></mat-header-row>
              <mat-row *matRowDef="
                  let row;
                  let i = index;
                  columns: displayedColumnsFIC
                "></mat-row>
              <ng-container matColumnDef="documento" matColumnDisplay="false">
                <mat-header-cell *matHeaderCellDef> Documento </mat-header-cell>
                <mat-cell *matCellDef="let row; let index = index" class="border-normal">
                  {{ row.documento }}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="url">
                <mat-header-cell *matHeaderCellDef>Archivo</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <button type="button" class="btn" (click)="filevalidacionFormatos(row.id)">
                    <mat-icon>visibility</mat-icon>
                  </button>
                </mat-cell>
              </ng-container>
            </mat-table>
            <app-kyc-shared-upload *ngIf="!readonlyModule" [documentos]="this.catalogos!.documento"
              [titular]="folio.titular" [aseguradora]="folio.aseguradoraId" [folio]="infoFolio" [cotejo]="true"
              (updateEventUploadEmitter)="updateEventUploadFile($event)"
              (updateEventResponseEmitter)="updateEventResponseFile($event)"></app-kyc-shared-upload>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div>
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Comentarios</mat-label>
              <textarea [disabled]="readonlyModule" matInput minlength="5" [maxlength]="comentarioLength" ngModel
                name="comentarios" required></textarea>
              <mat-icon matPrefix>comment</mat-icon>
            </mat-form-field>
          </div>
        </div>
      </div>
      <br />

      <div class="row">
        <div class="col-md-12 text-center text-md-end">
          <button type="button" (click)="return()" class="btn btn-danger mx-1">
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary" *ngIf="!readonlyModule">
            Continuar
          </button>
        </div>
      </div>
    </form>
  </mat-card-content>
</mat-card>