.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .table-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    position: relative;
  }
  
  .mat-column-number,
  .mat-column-severity,
  .mat-column-type,
  .mat-column-actions {
    flex: 0 0 10%;
  }
  
  .mat-column-status {
    flex: 0 0 15%;
  }
  
  .mat-column-message {
    flex: 0 0 45%;
  }
  