
span.title-autorizado {
    font-size: 14px;
    border-radius: 5px;
    background: #deffeb;
    color: #09a146;
    padding: 5px 15px;
    font-weight: 600;
  }

  span.title-no-autorizado {
    font-size: 14px;
    border-radius: 5px;
    background: #fdeae7;
    color: #bd2f20;
    padding: 5px 15px;
    font-weight: 600;
  }