.modal {
    display: flex !important;
    align-items: center;
    justify-content: center;
    // background: rgba(0, 0, 0, 0.5); 
  }
  
  .modal-dialog {
    width: 800px; 
    max-width: 90%; 
    margin: 0;
  }
  
  .modal-content {
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  /* Ocultar los botones de incremento y decremento */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }


